/* 
-- Blue:
#084A6B
#39739C
#63A5BD
#c7dcea
-- Purple:
#7B0042
#CE4AA5
#E76BB5
-- Yellow
#FFC608
#FFF752 
*/


header{
    background-color: #084A6B;
}

header a{
    color: white;
}
header a:hover{
    color: #E76BB5;
}

.backendcontainer{
    background-color: #63A5BD;
    min-height: calc(100vh - 56px);
}

.kepttrack{
    background-color: #FFF752;
}

.clicked{
    background-color: #FFF752 !important;
}


.index{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 50px;
    gap: 40px;
    justify-content: center;
}

.index .indexlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #39739C;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.index .indexlink:hover{
    background-color: #FFC608;
    color: black;
}

.index .indexlink .indexlink__image{
    background-color: #c7dcea;
    border-radius: 50%;
    margin-bottom: 10px;
}

.index .indexlink:hover .indexlink__image{
    background-color: #FFF752 ;
}


.personals .personals__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding-top: 20px;
}

.personals .personals__container .personals__personal{
    display: flex;
    width: 13%;
    align-items: center;
    gap: 5px;
    background-color: #39739C;
    margin-bottom: 10px;
    padding-left: 12px;
    border-radius: 200px;
    color: black;
    text-decoration: none;
}

.personals .personals__container .personals__personal:hover{
    background-color: #FFF752;
}



.personal {
    min-height: calc(100vh - 56px);
    padding-top: 10px;
    background-color: #39739C;
}

.personal .personaltop{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.personal .personalleft .personal__image{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1vh;
    height: 10vh;
}

.personal .personalleft .personal__image img{
    background-color: #E76BB5;
    border-radius: 50%;
}

.personal .personalleft .personal__image a{
    background-color: #E76BB5;
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.personal .personalleft .personal__image a:hover{
    background-color: #7B0042;
}

.personal .personal__evolutions{
    width: 100%;
    overflow-y: scroll;
    background-color: #63A5BD;
    padding: 5px;
    margin-bottom: 10px;
    max-height: 12vh;
    margin-bottom: 2vh;
}

.personal .personal__evolutions .personal__evolution{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.personal .personal__evolutions .personal__evolution select{
    cursor: pointer;
}

.personal .personal__trainers{
    width: 100%;
    overflow-y: scroll;
    max-height: 45vh;
    background-color: #63A5BD;
    padding: 5px;
}

.personal .personal__trainers .personal__trainer{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 1%;
}

.personal .personal__trainers .personal__trainer .personal__trainer-level{
    width: 11%;
}

.personal .personal__trainers .personal__trainer .personal__trainer-location{
    width: 25%;
}

.personal .personal__trainers .personal__trainer .personal__trainer-location a{
    color: white;
    text-decoration: none;
}

.personal .personal__trainers .personal__trainer .personal__trainer-location a:hover{
    text-decoration: underline;
}

.personal .personal__trainers .personal__trainer .personal__trainer-image{
    background-color: #FFF752;
    border-radius: 50%;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal .personal__trainers .personal__trainer .personal__trainer-image-boss{
    background-color: #FF1111;
}

.personal .personal__trainers .personal__trainer .personal__trainer-name{
    margin-left: 1%;
    width: 56%;
}

.personal .personal__trainers .personal__trainer .personal__trainer-name a{
    color: white;
    text-decoration: none;
}

.personal .personal__trainers .personal__trainer .personal__trainer-name a:hover{
    text-decoration: underline;
}

.personal .personal__stats{
    overflow-y: scroll;
    background-color: #63A5BD;
    padding: 10px;
    max-height: 70vh;
    width: 610px;
}

.personal .personal__stats form{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.personal .personal__stats .personal__stat{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
    border-bottom: 1px solid #7B0042;
    padding-bottom: 5px;
}

.personal .personal__stats .personal__stat span:first-child{
    font-size: 14px;
    margin-right: 4px;
}

.personal .personal__stats .personal__stat input, .personal .personal__stats .personal__stat select{
    width: 150px;
    font-size: 16px;
    border: 1px solid black;
    padding-left: 2px;
}

.personal .personal__stats .personal__stat select{
    cursor: pointer;
}

.personal .personal__moves{
    overflow-y: scroll;
    background-color: #63A5BD;
    padding: 10px;
    max-height: 70vh;
    min-width: 236px;
}

.personal .personal__moves form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.personal .personal__moves .personal__move{
    display: flex;
    gap: 5px
}

.personal .personal__moves .personal__move select{
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

.personal .personal__moves .personal__move input[type="text"]{
    border: 1px solid black;
    font-size: 16px;
    width: 50px;
    padding-left: 4px;
}

.personal .personal__tms{
    width: 430px;
    padding: 10px 10px 10px;
    max-height: 70vh;
    overflow-y: scroll;
    background-color: #63A5BD;
}

.personal .personal__tms form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.personal .personal__tms .personal__tm{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 190px;
}

.personal .personal__tms .personal__tm input{
    cursor: pointer;
}

.personal .personal__tms .personal__tm label{
    cursor: pointer;
}

.personal .personal__graph{
    padding: 0px 20px;
    display: flex;
    gap: 2px;
    height: 17vh;
    overflow: hidden;
}

.personal .personal__graph .graph__part{
    border: 1px solid black;
    background-color: white;
    min-width: 1px;
    height: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.personal .personal__graph .graph__part-boss{
    background-color: #FFF752 ;
}

.personal .personal__graph .graph__popuparrow{
    background-color: #E76BB5;
    border: 1px solid #7B0042;
    height: 13px;
    width: 13px;
    position: absolute;
    margin-top: 6px;
    transform: rotate(45deg);
}

.personal .personal__graph .graph__popuparrow-odd{
    margin-top: 16px;
}

.personal .personal__graph .graph__popup{
    position: absolute;
    margin-top: 13px;
    background-color: rgba(231, 107, 181, 0.9);
    border: 1px solid #7B0042;
    font-size: 11px;
    padding: 5px 7px;
    white-space: nowrap;
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.personal .personal__graph .graph__popup:hover{
    z-index: 2;
}

.personal .personal__graph .graph__popup-odd{
    margin-top: 23px;
}

.personal .personal__graph .graph__popup .graph__popup-trainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.personal .personal__graph .graph__popup .graph__popup-trainer-this{
    font-weight: bold;
    font-size: 13px;
    background-color: rgba(255, 247, 82, 0.8);
    border-radius: 5px;
    padding: 0px 5px;
}

.personal .personal__graph .graph__popup .graph__popup-trainer-image{
    display: block;
    background-color: rgba(255, 247, 82, 0.5);
    border-radius: 50%;
}

.personal .personal__graph .graph__popup .graph__popup-trainer-image img{
    height: 25px;
}


.battles{
    padding: 10px 30px;
}

.battlescontainer .battles__location{
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.battlescontainer .battles__battlepart{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3.33333333%;
    border-bottom: 1px solid #39739C;
}

.battlescontainer .battles__battle{
    width: 30%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #39739C;
    border: 1px solid #084A6B;
    padding: 2px 0px;
    position: relative;
}

.battlescontainer .battles__battle:hover{
    text-decoration: underline;
}

.battlescontainer .battles__battle .battle__image{
    margin-bottom: -1px;
}

.battlescontainer .battles__battle .battle__name{
    flex-grow: 2;
    font-weight: bold;
}

.battlescontainer .battles__battle .battle__pokemons{
    display: flex;
    width: 260px;
}

.battlescontainer .battles__battle .battle__pokemons .battle__pokemon{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.battlescontainer .battles__battle .battle__pokemons .battle__pokemon img{
    background-color: #c7dcea;
    border-radius: 50%;
}

.battlescontainer .battles__battle .battle__pokemons .battle__pokemon span{
    font-size: 10px;
    margin-left: -13px;
}

.battlescontainer .battles__battle .battle__level{
    position: absolute;
    right: 10px;
    right: -31px;
    font-size: 12px;
}


.battle{
    padding: 10px 20px;
}

.battle .battle__top{
    display: flex;
    gap: 20px;
}

.battle .battle__top .battle__othertrainers{
    width: 620px;
    min-width: 620px;
    overflow-y: scroll;
    border: 1px solid #084A6B;
    padding: 10px 10px 0px;
    height: 210px;
}

.battle .battle__top .battle__othertrainers .battles__battle{
    width: 93%;
}

.battle .battle__top .battle__trainer{
    flex-grow: 2;
    background-color: #39739C;
    border-radius: 3px;
}

.battle .battle__top .battle__trainer{
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.battle .battle__top .battle__trainer .trainer__image{
    background-color: #c7dcea;
    height: 150px;
    width: 150px;
    min-width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}

.battle .battle__top .battle__trainer .trainer__image img{
    width: 80%;
    height: 80%;
}

.battle .battle__top .battle__trainer .trainer__image .trainer__owid{
    position: absolute;
    background-color: #FFF752;
    padding: 2px 5px;
    font-size: 15px;
    border-radius: 8px;
    bottom: -10px;
}

.battle .battle__top .battle__trainer .trainer__settings{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 3px;
}

.battle .battle__top .battle__trainer .trainer__settings a{
    color: black;
    text-decoration: none;
}

.battle .battle__top .battle__trainer .trainer__settings a:hover{
    text-decoration: underline;
}

.battle .battle__top .battle__trainer .trainer__settings h4{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__setting{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__setting label{
    flex-grow: 2;
    color: wheat;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__setting input{
    padding-left: 3px;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__setting select{
    cursor: pointer;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__setting input, .battle .battle__top .battle__trainer .trainer__settings .trainer__setting select{
    width: 240px;
    border: 1px solid black;
}

.battle .battle__top .battle__trainer .trainer__settings input[type="submit"]{
    width: 80px;
    cursor: pointer;
    margin-left: 20px;
}

.battle .battle__top .battle__trainer .trainer__settings .trainer__note{
    max-width: 100%;
    width: 100%;
    margin-top: 3px;
}

.battle .battle__top .battle__trainer .trainer__settings textarea{
    max-width: 100% !important;
    width: 100% !important;
    border: 1px solid black;
    padding: 1px 3px;
}

.battle .battle__ais{
    margin-top: 10px;
    background-color: #39739C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    font-size: 14px;
    gap: 12px;
}

.battle .battle__ais .battle_ai{
    display: flex;
    gap: 2px;
}

.battle .battle__ais input{
    cursor: pointer;
    accent-color: #00ff00;
}

.battle .battle__ais .battle_ai label{
    cursor: pointer;
}

.battlepage__pokemons{
    margin-top: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.battlepage__pokemons .battle__pokemon-container{
    display: flex;
    gap: 20px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon{
    display: flex;
    background-color: #39739C;
    border-radius: 10px;
    align-items: center;
    padding: 3px 10px;
    gap: 20px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__image{
    background-color: #c7dcea;
    border-radius: 50%;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 480px;
    column-gap: 20px;
    row-gap: 5px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail{
    display: flex;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail-big{
    width: 100%;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail label{
    width: 90px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail input{
    padding-left: 3px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail select{
    cursor: pointer;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail input, .battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__details .pokemon__detail select{
    width: 140px;
    border: 1px solid black;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__moves{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 5px;
    flex-direction: column;
    border-left: 1px solid #084A6B;
    padding-left: 10px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__moves select{
    border: 1px solid black;
    cursor: pointer;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__moves .pokemon__move{
    display: flex;
    gap: 5px;
}

.battlepage__pokemons .battle__pokemon-container .battle__pokemon .pokemon__moves .pokemon__move .type{
    border: 1px solid black;
    width: 65px;
}

.battlepage__pokemons .battle__pokemon-container .battle__moveoptions{
    border: 1px solid #084A6B;
    overflow-y: scroll;
    font-size: 14px;
    padding: 8px 10px;
    height: 115px;
    background-color: #c7dcea;
    flex-grow: 2;
}

.battlepage__pokemons .battle__pokemon-container .battle__moveoptions .battle__moveoption{
    color: #404040;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
}

.battlepage__pokemons .battle__pokemon-container .battle__moveoptions .battle__moveoption-available{
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.battlepage__pokemons input[type="submit"]{
    cursor: pointer;
}

.battle .battlepage__addpokemon{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.battle .battlepage__addpokemon input{
    cursor: pointer;
    padding: 2px 10px;
    background-color: #39739C;
    border: 1px solid black;
    border-radius: 3px;
}

.battle .battlepage__addpokemon input:hover{
    background-color: #3e7ca8;
}



.trainerclasses{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.trainerclasses .classtable table{
    margin-bottom: 40px;
}

.trainerclasses .classtable table th{
    height: 70px;
    background-color: #39739C;
    padding: 0px 4px;
    font-size: 14px;
    position: sticky;
    top: 0;
}
.trainerclasses .classtable table th, .trainerclasses .classtable table td{
    border: 1px solid #084A6B;
}

.trainerclasses .classtable table th.class__type span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 20px;
    max-width: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trainerclasses .classtable table tr:nth-child(odd){
    background-color: #c7dcea;
}
.trainerclasses .classtable table tr:nth-child(even){
    background-color: #a3c5dc;
}

.trainerclasses .classtable table td{
    text-align: center;
    padding: 3px 0px 1px;
}

.trainerclasses .classtable table td.classtable__id{
    padding: 0px 10px;
}

.trainerclasses .classtable table td.classtable__name{
    text-align: left;
    padding: 0px 6px;
}

.trainerclasses .classtable table td.classtable__image img{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.trainerclasses .classtable table td.classtable__owsprite{
    padding: 0px 5px;
}

.trainerclasses .classtable table td.classtable__owsprite span{
    display: block;
    font-weight: bold;
    background-color: #FFF752;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    line-height: 34px;
}

.trainerclasses .classtable table td.classtable__typeamount{
    font-size: 20px;
}

.trainerclasses .classtable table td.classtable__ranked{
    padding: 0px 5px;
}

.trainerclasses .classtable table td.classtable__ranked .type{
    padding: 2px 5px;
    border: 1px solid black;
}

.trainerclasses .classtable table .classtable__grayed{
    background-color: rgba(51, 51, 51, 0.6);
    font-size: 15px !important;
}



.encounters {
    padding: 20px 40px;
}

.sinnohmap_holder{
    background-color: #1297B1;
    min-height: 220px;
    min-width: 261px;
}

.sinnohmap_holder .sinnohmap{
    background-image: url('../images/sinnohmap.png');
    height: 220px;
    width: 261px;
}

.encounters .sinnohmap_holder{
    width: 400px;
    height: 280px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #084A6B;
    border-radius: 10px;
}

.encounters .sinnohmap_holder .sinnohmap .sinnohmap__location{
    position: absolute;
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.3s;
}

.encounters .sinnohmap_holder .sinnohmap .sinnohmap__location:hover{
    background-color: #DE3163;
}

.encounters .encounters__locations{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 10px auto;
    justify-content: center;
}

.encounters .encounters__locations a{
    width: 25%;
    color: black;
    text-decoration: none;
    margin-bottom: 3px;
}

.encounters .encounters__locations .encounters__location{
    text-align: center;
    padding: 2px;
    margin: 3px;
    border: 2px solid #084A6B;
}

.encounters .encounters__locations .encounters__location:hover{
    background-color: #c7dcea;
}



.encounter{
    padding: 20px 5px 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.encounter .encounter__top{
    display: flex;
    gap: 30px;
    align-items: center;
}

.encounter .encounter__top .encounter__location{
    font-size: 20px;
    font-weight: bold;
    flex-grow: 2;
    max-width: 750px;
}

.encounter .encounter__top .encounter__buttons{
    display: flex;
    gap: 20px;
}

.encounter .encounter__top .encounter__buttons a{
    background-color: #E76BB5;
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.encounter .encounter__top .encounter__buttons a:hover{
    background-color: #7B0042;
}

.encounter .encounterpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.encounter .encounterpart .encounterpart__top{
    display: flex;
    gap: 10px;
}

.encounter .encounterpart .encounterpart__top .encounterpart__rate input{
    border: 1px solid black;
    background-color: #c7dcea;
    padding: 2px 3px;
    max-width: 40px;
}

.encounter .encounterpart .encounterpart__top .encounterpart__save input{
    cursor: pointer;
    padding: 2px 10px;
    background-color: #39739C;
    border: 1px solid black;
    border-radius: 3px;
}

.encounter .encounterpart .encounterpart__top .encounterpart__save input:hover{
    background-color: #3e7ca8;
}

.encounter .encounterpart .encounterpart__table table th{
    font-weight: normal;
    background-color: #39739C;
}

.encounter .encounterpart .encounterpart__table table th, .encounter .encounterpart .encounterpart__table table td{
    border: 1px solid #084A6B;
    padding: 2px 4px;
}

.encounter .encounterpart .encounterpart__table table th span{
    display: block;
}

.encounter .encounterpart .encounterpart__table table th .encounterpart__table__stat{
    width: 100%;
    text-align: left;
    color: #c7dcea;
    font-size: 12px;
}

.encounter .encounterpart .encounterpart__table table th img{
    margin-top: -13px;
    background-color: #c7dcea;
    border-radius: 50%;
}

.encounter .encounterpart .encounterpart__table table th .encounterpart__table__rate{
    font-weight: bold;
}

.encounter .encounterpart .encounterpart__table table tr:nth-child(even){
    background-color: #93c1d2;
}

.encounter .encounterpart .encounterpart__table table input{
    padding-left: 3px;
}

.encounter .encounterpart .encounterpart__table table select{
    cursor: pointer;
}

.encounter .encounterpart .encounterpart__table table select, .encounter .encounterpart .encounterpart__table table input{
    width: 100px;
    border: 1px solid black;
}

.encounter .encounter__others{
    display: flex;
    flex-direction: column;
}

.encounter .encounter__others a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.encounter .encounter__others a:hover{
    text-decoration: underline;
}



.whiteitems{
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
}

.whiteitems .whiteitems__item{
    display: flex;
    background-color: #39739C;
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 0px 5px;
    width: 13%;
    border-radius: 16px;
}
.whiteitems .whiteitems__item:hover{
    background-color: #FFF752;
}

.whiteitems .whiteitems__item .whiteitems__order{
    font-size: 11px;
    color: white;
    margin-bottom: 1px;
    min-width: 28px;
}
.whiteitems .whiteitems__item:hover .whiteitems__order{
    color: black;
}

.whiteitems .whiteitems__item .whiteitems__name{
    margin-bottom: 2px;
}



.whiteitem{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.whiteitem .whiteitem__links{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.whiteitem .whiteitem__links a{
    color: white;
    text-decoration: none;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76BB5;
    border-radius: 50%;
    font-size: 18px;
}
.whiteitem .whiteitem__links a:hover{
    background-color: #7B0042;
}

.whiteitem .whiteitem__links a img{
    height: 32px;
    width: 32px;
}

.whiteitem .whiteitem__title{
    font-size: 26px;
    margin-bottom: 10px;
}

.whiteitem .whiteitem__description{
    font-size: 13px;
    margin-bottom: 20px;
}

.whiteitem .whiteitem__places input[type="submit"] {
    cursor: pointer;
}

.whiteitem .whiteitem__places table{
    margin-bottom: 20px;
}

.whiteitem .whiteitem__places table td{
    padding: 4px;
    border: 1px solid #084A6B;
}

.whiteitem .whiteitem__places input{
    padding-left: 3px;
}

.whiteitem .whiteitem__places select{
    cursor: pointer;
}

.whiteitem .whiteitem__places textarea{
    padding: 2px 3px;
    width: 775px;
    height: 63px;
}

.whiteitem .whiteitem__places input, .whiteitem .whiteitem__places select{
    width: 140px;
    height: 20px;
}

.whiteitem .whiteitem__places input, .whiteitem .whiteitem__places select, .whiteitem .whiteitem__places textarea{
    border: 1px solid black;
}



.overworlditems__container{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    gap: 20px;
}

.overworlditemclass{
    width: 15%;
    background-color: #F8EA9F;
    border-radius: 20px;
}
.overworlditemclass h2{
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
}
.overworlditemclass__script{
    font-size: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.overworlditemclass_update{
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

.overworlditem{
    background-color: #F9F2CA;
    width: 95%;
    margin: 2px auto;
    border-radius: 15px;;
    display: flex;
    justify-content: space-between;
}
.overworlditem__start{
    width: 50%;
}
.overworlditem__name{
    font-weight: bold;
}
.overworlditem__amount{
    width: 45px;
}
.overworlditem__amount input{
    width: 45px;
    height: 90%;
    margin-top: 5%;
    font-size: 17px;
}
.overworlditem__percentile{
    font-size: 10px;
    width: 15%;
    line-height: 28px;
}
.overworlditem__pocket{
    font-size: 9px;
}



.honeytrees{
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.honeytrees .honeytrees__left{
    display: flex;
    flex-direction: column;
}

.honeytrees .honeytrees__left .honeytrees__title{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 3px;
}

.honeytrees .honeytrees__left textarea{
    width: 300px;
    height: 740px;
    min-width: 200px;
    border: 1px solid black;
    padding: 1px 3px;
}

.honeytrees .honeytrees__right input[type="submit"]{
    cursor: pointer;
    padding: 0px 5px;
}

.honeytrees .honeytrees__right table{
    margin-bottom: 10px;
}

.honeytrees .honeytrees__right table th{
    background-color: #084A6B;
    color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px 5px;
}

.honeytrees .honeytrees__right table tr:nth-child(even){
    background-color: #4489a2;
}

.honeytrees .honeytrees__right table td{
    padding: 2px 5px;
    border: 1px solid #084A6B;
    text-align: center;
    font-weight: bold;
}

.honeytrees .honeytrees__right table img{
    background-color: #c7dcea;
    border-radius: 50%;
    margin-top: 3px;
}

.honeytrees .honeytrees__right table select{
    cursor: pointer;
}

.honeytrees .honeytrees__right table input{
    padding-left: 3px;
    font-size: 14px;
}

.honeytrees .honeytrees__right table select, .honeytrees .honeytrees__right table input{
    border: 1px solid black;
    width: 120px;
}



.fossils {
    display: flex;
    gap: 30px;
    padding: 10px 70px;
    justify-content: center;
    flex-direction: column;
}

.fossils .fossils__container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.fossils .fossil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #39739C;
    padding: 4px 10px;
}

.fossils .fossil .fossil__title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.fossils .fossil textarea{
    border: 1px solid black;
    padding: 1px 3px;
    min-width: 270px;
    height: 70px;
    margin-bottom: 15px;
}

.fossils .fossil .fossil__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.fossils .fossil .fossil__list .fossillist__item{
    width: 100%;
    display: flex;
    background-color: #63A5BD;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

.fossils .fossil .fossil__list .fossillist__item:hover{
    text-decoration: underline;
}

.fossils .fossil .fossil__list .fossillist__item .fossillist__chance{
    font-weight: bold;
    width: 60px;
}

.fossils .fossil .fossil__list .fossillist__item .fossillist__amount{
    margin: 0px 4px;
}

.fossils .fossil .fossil__list .fossillist__item .fossillist__image{
    background-color: #c7dcea;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fossils .fossil .fossil__list .fossillist__item .fossillist__image img{
    margin-top: 2px;
}

.fossils .fossils__excluded{
    background-color: #39739C;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    padding: 10px 15px;
    border-radius: 15px;
}

.fossils .fossils__excluded .fossilexcluded__item{
    background-color: #63A5BD;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    gap: 7px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
.fossils .fossils__excluded .fossilexcluded__item:hover{
    text-decoration: underline;
}

.fossils .fossils__excluded .fossilexcluded__item .fossilexcluded__image{
    background-color: #c7dcea;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.eggs {
    display: flex;
    gap: 30px;
    padding: 10px 70px;
    justify-content: center;
    flex-direction: column;
}

.eggs .eggs__container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.eggs .egg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #39739C;
    padding: 4px 10px;
}

.eggs .egg .egg__title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.eggs .egg textarea{
    border: 1px solid black;
    padding: 1px 3px;
    min-width: 405px;
    height: 70px;
    margin-bottom: 15px;
}

.eggs .egg .egg__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    width: 250px;
}

.eggs .egg .egg__list .egglist__item{
    width: 100%;
    display: flex;
    background-color: #63A5BD;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 15px;
}

.eggs .egg .egg__list .egglist__item:hover{
    text-decoration: underline;
}

.eggs .egg .egg__list .egglist__item .egglist__chance{
    font-weight: bold;
    width: 60px;
}

.eggs .egg .egg__list .egglist__item .egglist__amount{
    margin: 0px 4px;
}

.eggs .egg .egg__list .egglist__item .egglist__image{
    background-color: #c7dcea;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eggs .egg .egg__list .egglist__item .egglist__image img{
    margin-top: 2px;
}

.eggs .eggs__excluded{
    background-color: #39739C;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    padding: 10px 15px;
    border-radius: 15px;
}

.eggs .eggs__excluded .eggexcluded__item{
    background-color: #63A5BD;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    gap: 7px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
.eggs .eggs__excluded .eggexcluded__item:hover{
    text-decoration: underline;
}

.eggs .eggs__excluded .eggexcluded__item .eggexcluded__image{
    background-color: #c7dcea;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.usages{
    width: 100%;
    padding: 3px 5px;
}

.usages table{
    width: 100%;
}

.usages table tr:nth-child(odd){
    background-color: #4489a2;
}
.usages table tr:nth-child(even){
    background-color: #81b7ca;
}

.usages table th{
    background-color: #39739C;
    border: 2px solid #084A6B;
}

.usages table td {
    border-top: 2px solid #084A6B;
    border-right: 2px solid #084A6B;
    border-left: 2px solid #084A6B;
    border-bottom: 25px solid #021018;
    height: 200px;
}

.usages table td, .usages table th{
    padding: 3px 5px;
}

.usages table .usages__small{
    width: 35px;
    text-align: center;
}

.usages table .usages__notthatsmall{
    width: 120px;
    text-align: center;
}

.usages table .usages__bigfont{
    font-size: 24px;
}

.usages table .usages__image{
    width: 40px;
    text-align: center;
}

.usages table .usages__image img{
    background-color: #c7dcea;
    border-radius: 50%;
}

.usages table .usages__name{
    text-align: center;
    font-weight: bold;
}

.usages table .usages__hasblock{
    padding: 0px;
    background-color: #095277;
}

.usages table .usage__locations{
    display: flex;
    flex-direction: column;
}

.usages table .usage__locations .usage__location{
    display: flex;
    align-items: center;
    border-top: 1px solid #084A6B;
    border-bottom: 1px solid #084A6B;
    background-color: #c7dcea;
}
.usages table .usage__locations .usage__location:nth-child(even){
    background-color: #a3c5dc;
}

.usages table .usage__locations .usage__location div{
    height: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    justify-content: center;
}

.usages table .usage__locations .usage__location div a{
    color: black;
    text-decoration: none;
}
.usages table .usage__locations .usage__location div a:hover{
    text-decoration: underline;
}

.usages table .usage__locations .usage__location .location__image{
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #084A6B;
}

.usages table .usage__locations .usage__location .location__chance{
    width: 60px;
    font-weight: bold;
    border-right: 1px solid #084A6B;
}

.usages table .usage__locations .usage__location .location__location{
    padding-left: 5px;
    font-size: 13px;
}

.usages table .usage__trainers{
    display: flex;
    flex-direction: column;
}

.usages table .usage__trainers .usage__trainer{
    display: flex;
    align-items: center;
    border-top: 1px solid #084A6B;
    border-bottom: 1px solid #084A6B;
    background-color: #c7dcea;
}
.usages table .usage__trainers .usage__trainer:nth-child(even){
    background-color: #a3c5dc;
}

.usages table .usage__trainers .usage__trainer div{
    height: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    justify-content: center;
}

.usages table .usage__trainers .usage__trainer div a{
    color: black;
    text-decoration: none;
}
.usages table .usage__trainers .usage__trainer div a:hover{
    text-decoration: underline;
}

.usages table .usage__trainers .usage__trainer .trainer__img{
    padding-top: 3px;
    border-right: 1px solid #084A6B;
}

.usages table .usage__trainers .usage__trainer .trainer__level{
    font-size: 13px;
    border-right: 1px solid #084A6B;
    width: 50px;
    font-weight: bold;
}

.usages table .usage__trainers .usage__trainer .trainer__location{
    font-size: 13px;
    padding-left: 5px;
}

.usages-small table tr:nth-child(odd){
    background-color: white;
}
.usages-small table tr:nth-child(even){
    background-color: #d9d9d9;
}

.usages-small table td{
    height: auto;
    border-bottom: 2px solid #084A6B;
}

.usages-small table .usages__name{
    text-align: left;
    padding-left: 5px;
}

.usages-small table .usages__image img{
    height: 32px;
    width: 32px;
}



.levelcalculation{
    display: flex;
    justify-content: center;
    padding: 20px 10px 40px;
}

.levelcalculation table a{
    color: black;
    text-decoration: none;
}
.levelcalculation table a:hover{
    text-decoration: underline;
}

.levelcalculation table th, .levelcalculation table td{
    border: 4px solid #084A6B;
    text-align: center;
}

.levelcalculation table th{
    background-color: #39739C;
    padding: 3px 10px;
}

.levelcalculation table tr:nth-child(odd){
    background-color: #63A5BD;
}
.levelcalculation table tr:nth-child(even){
    background-color: #4489a2;
}

.levelcalculation table .levelcalculation__mylevel{
    font-weight: bold;
    font-size: 20px;
}

.levelcalculation table .levelcalculation__theirlevel{
    font-size: 22px;
    color: #660000;
}

.levelcalculation table .levelcalculation__mylevel1{
    background-color: rgba(255, 153, 203, 0.3);
}
.levelcalculation table .levelcalculation__mylevel2{
    background-color: rgba(255, 153, 153, 0.3);
}
.levelcalculation table .levelcalculation__mylevel3{
    background-color: rgba(255, 153, 153, 0.2);
}
.levelcalculation table .levelcalculation__mylevel4{
    background-color: rgba(242, 242, 242, 0.4);
}
.levelcalculation table .levelcalculation__mylevel5{
    background-color: rgba(242, 242, 242, 0.3);
}
.levelcalculation table .levelcalculation__mylevel6{
    background-color: rgba(179, 255, 179, 0.4);
}
.levelcalculation table .levelcalculation__totalmoney{
    padding: 0px 45px;
}


.levelcalculation .levelcalculation__pokemons{
    display: flex;
    width: 260px;
    padding: 5px 5px;
    margin: 0px 21px 0px 0px;
}

.levelcalculation .levelcalculation__pokemons .levelcalculation__pokemon{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.levelcalculation .levelcalculation__pokemons .levelcalculation__pokemon img{
    background-color: #c7dcea;
    border-radius: 50%;
}

.levelcalculation .levelcalculation__pokemons .levelcalculation__pokemon span{
    font-size: 10px;
    margin-left: -13px;
}



.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience .experience__results{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.experience .experience__results .experience__result{
    width: 23%;
    text-align: center;
    margin-bottom: 3px;
}

.experience form{
    margin-bottom: 30px;
}

.experience form input[type="submit"], .experience form select{
    cursor: pointer
}



.writetext{
    display: flex;
    flex-direction: row;
}

.writetext .writetext__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px 10px;
    gap: 15px;
}

.writetext .writetext__left select{
    cursor: pointer;
}

.writetext .writetext__left .writetext__selects{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.writetext .writetext__left input[type="submit"]{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #084A6B;
    color: #FFC608;
    cursor: pointer;
}

.writetext .writetext__left .writetext__selects select{
    font-size: 22px;
    width: 400px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 5px;
}

.writetext .writetext__left .writetext__selects input[type="text"]{
    font-size: 18px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
}

.writetext .writetext__left .writetext__naming{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.writetext .writetext__left .writetext__naming input[type="text"]{
    font-size: 18px;
    width: 550px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
    height: 31px;
    background-color: #e6e6e6;
}

.writetext .writetext__left .writetext__naming input[type="submit"]{
    background-color: #7B0042;
}

.writetext .writetext__left .writetext__writing textarea{
    border: 1px solid black;
    width: 640px;
    border-radius: 5px;
    height: 200px;
    padding: 5px;
    font-size: 16px;
}

.writetext .writetext__left .writetext__commands{
    display: flex;
    gap: 30px;
}

.writetext .writetext__left .writetext__commands div{
    font-size: 16px;
    height: 31px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #084A6B;
    color: #FFC608;
    cursor: pointer;
}
.writetext .writetext__left .writetext__commands div:hover{
    background-color: #7B0042;
}

.writetext .writetext__left .writetext__inserts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    background-color: #39739C;
    border-radius: 5px;
    padding: 5px 10px;
    row-gap: 5px;
    column-gap: 10px;
    font-size: 22px;
}

.writetext .writetext__left .writetext__inserts .writetext__insert{
    display: flex;
    cursor: pointer;
    background-color: #c7dcea;
    border-radius: 5px;
    width: 335px;
    padding: 3px 6px;
}
.writetext .writetext__left .writetext__inserts .writetext__insert:hover{
    background-color: #63A5BD;
}

.writetext .writetext__left .writetext__inserts .writetext__insert .writetext__insertkey{
    min-width: 50%;
    font-weight: bold;
}

.writetext .writetext__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 30px 0px;
}

.writetext .writetext__right .writetext__exampleholder{
    background-color: #102a3d;
    padding: 40px 30px;
    overflow: hidden;
    border-radius: 10px;
}

.writetext .writetext__right .writetext__example{
    border-top: 5px solid #4898d0;
    border-left: 5px solid #4898d0;
    border-right: 5px solid #4898d0;
    border-bottom: 20px solid #4898d0;
    font-size: 18px;
    min-width: calc((22px * 35) + 10px);
    max-width: calc((22px * 35) + 10px);
    width: calc((22px * 35) + 10px);
    background-color: #808080;
}

.writetext .writetext__right .writetext__exampleline{
    width: 100%;
    display: flex;
    min-height: 5px;
    min-width: 3px;
}

.writetext .writetext__right .writetext__example .writetext__examplechar{
    border: 1px dotted #ffb3ff;
    min-width: 22px;
    max-width: 22px;
    width: 22px;
    overflow: hidden;
    text-align: center;
    background-color: white;
    min-height: 24px;
}

.writetext .writetext__right .writetext__example .writetext__examplescroll{
    background-color: #FFF752;
    width: 22px;
    height: 22px;
    margin-left: 5px;
    border-radius: 400px;
    text-align: center;
    color: #7B0042;
    font-size: 14px;
    line-height: 22px;
}



.readtext{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.readtext .readtext__selects{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px 0px 30px;
}

.readtext .readtext__selects select{
    font-size: 22px;
    width: 400px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 5px;
    cursor: pointer;
}

.readtext .readtext__selects input[type="submit"]{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #084A6B;
    color: #FFC608;
    cursor: pointer;
}

.readtext .readtext__table{
    width: 80%;
    margin-bottom: 40px;
}

.readtext .readtext__table tr:nth-child(odd){
    background-color: #c7dcea;
}
.readtext .readtext__table tr:nth-child(even){
    background-color: #edf3f8;
}

.readtext .readtext__table td, .readtext .readtext__table th{
    border: 2px solid #084A6B;
}
.readtext .readtext__table th{
    background-color: #39739C;
    font-size: 20px;
    padding: 4px 0px;
}
.readtext .readtext__table td{
    padding: 13px 8px;
}

.readtext .readtext__table .readtext__number{
    text-align: center;
    width: 1px;
    padding: 0px 10px;
}

.readtext .readtext__table .readtext__copy{
    width: 1px;
}

.readtext .readtext__table .readtext__copy div{
    display: inline;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #7B0042;
    color: #FFC608;
    cursor: pointer;
}
.readtext .readtext__table .readtext__copy:hover div{
    background-color: #CE4AA5;
}

.readtext .readtext__table .readtext__goedit{
    text-align: center;
}
.readtext .readtext__table .readtext__goedit a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.readtext .readtext__table .readtext__goedit a:hover{
    text-decoration: underline;
}



.moneytable{
    border: 1px solid #084A6B;
    display: flex;
    flex-wrap: wrap;
    width: 802px;
    background-color: #084A6B;
    margin: 0px auto;
}

.moneytable .moneytable__cell{
    border: 1px solid #084A6B;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #c7dcea;
}



.compatibility{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.compatibility .compatibility__line{
    display: flex;
    gap: 10px;
}

.compatibility .compatibility__line .compatibility__pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #39739C;
    border-radius: 20px;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
}

.compatibility .compatibility__line .compatibility__pokemon .compatibility__name{
    font-weight: bold;
    font-size: 14px;
}

.compatibility .compatibility__line .compatibility__pokemon .compatibility__move{
    font-size: 12px;
}

/* 
-- Blue:
#084A6B
#39739C
#63A5BD
#c7dcea
-- Purple:
#7B0042
#CE4AA5
#E76BB5
-- Yellow
#FFC608
#FFF752
*/